{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuari list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salt</th>
                <th>Email</th>
                <th>Password</th>
                <th>Isactive</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Adreca</th>
                <th>Telefon</th>
                <th>Fotografia</th>
                <th>Presentacio</th>
                <th>Punts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuari_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.salt }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.cognom }}</td>
                <td>{{ entity.adreca }}</td>
                <td>{{ entity.telefon }}</td>
                <td>{{ entity.fotografia }}</td>
                <td>{{ entity.presentacio }}</td>
                <td>{{ entity.punts }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuari_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuari_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuari_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
