{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evaluacioservei</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Serveistipusserveiid</th>
                <td>{{ entity.serveisTipusServeiId }}</td>
            </tr>
            <tr>
                <th>Serveisestatserveiid</th>
                <td>{{ entity.serveisEstatServeiId }}</td>
            </tr>
            <tr>
                <th>Valoracioservei</th>
                <td>{{ entity.valoracioservei }}</td>
            </tr>
            <tr>
                <th>Comentari</th>
                <td>{{ entity.comentari }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_evaluacioservei') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_evaluacioservei_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
