{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Estats del servei</h1>

<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
            <br />
            <table class="table table-condensed">
                <thead>
                <tr class="info">
                <th>Id</th>
                <th>Descripció</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_estatservei_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcio }}</td>
                <td>
                <ul style="list-style:none;">
                    <li>
                        <a href="{{ path('admin_estatservei_show', { 'id': entity.id }) }}">Veure</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_estatservei_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul style="list-style:none;">
        <li>
            <a href="{{ path('admin_estatservei_new') }}">Crear nova entrada</a>
        </li>
    </ul>
            </div>
        </div>
    </div>

    {% endblock %}
