{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}
{% block body %}

<style>
    #checkForm label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: #e38d13;
    }
</style>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $("#ok").show();
        $("#checkForm").validate({
            rules: {
                user_nom: {required: true},
                user_cognom: {required: true},
                user_adreca: {required: true},
                user_telefon: {required: true},
                user_email: {required: true, email: true},
                user_presentacio: {required: true}
            },
            messages: {
                user_nom: "Falta el nom.",
                user_cognom: "Falta el cognom.",
                user_adreca: "Debe introducir un email válido.",
                user_telefon: "Falta el telefon.",
                user_email: "Es necessari un email valid.",
                user_presentacio: "El campo Mensaje es obligatorio."
            },
            submitHandler: function(form) {
                var dataString = 'nom=' + $('#user_nom').val() + '&cognom=' + $('#user_cognom').val() + '&adreca=' + $('#user_adreca').val() + '&telefon=' + $('#user_telefon').val() + '&email=' + $('#user_email').val() + '&presentacio=' + $('#user_presentacio').val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('perfil_user_check') }}",
                    data: dataString,
                    success: function(data) {
                        $("#ok").html(data);
                        $("#formid").hide();
                    }
                });

            }
        });
    });

</script>

<form id="checkForm" method="post" >

    <div id="ok" class="alert alert-success" ></div>
    <div style="width: 300px" >

        <label for="fotografia">Fotografia:</label><br>
        <input id="user_fotografia" type="file" name="user_fotografia" />

        <label for="nom">Nom:</label><br>
        <input id="user_nom" type="text" name="user_nom" value="{{ app.user.nom }}" class="form-control" />

        <label for="cognom">Cognom:</label><br>
        <input id="user_cognom" type="text" name="user_cognom" value="{{ app.user.cognom }}" class="form-control" />

        <label for="adreca">Adreça:</label><br>
        <input id="user_adreca" type="text" name="user_adreca" value="{{ app.user.adreca }}" class="form-control" />

        <label for="telefon">Telefon:</label><br>
        <input id="user_telefon" type="text" name="user_telefon" value="{{ app.user.telefon }}" class="form-control" />

        <label for="email">Email:</label><br>
        <input id="user_email" type="text" name="user_email" value="{{ app.user.email }}" class="form-control" />

        <label for="punts">Punts:</label>
        <input id="user_punts" type="text" name="user_punts" value="{{ app.user.punts }}" readonly="" class="form-control" />

        <label for="presentacio">Presentació:</label>
        <textarea id="user_presentacio" type="text" name="user_presentacio" value="{{ app.user.presentacio }}" class="form-control" style="width: 400px; height: 100px"></textarea><br>

        <input type="submit" id="botoModificarPerfil" name="modificarPerfil" class="btn btn-primary" value="Modificar perfil" style="height: 34px" />
        <a id="botoUserBaixa" name="donarseBaixa" class="btn btn-warning" href="{{ path('baixa_perfil') }}" >Donarse de baixa</a>

    </div>

</form>

{% endblock %}