{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}
{% block body %}
<<<<<<< HEAD
Hola {{ app.user.username }}

</br>

<div style="margin-left: 95%">
    <a  href="{{path('logout')}}" class="btn btn-danger btn-large"><i class="icon-white icon-off"></i> logout</a>

</div>
<div class="navbar navbar-default">
    <div class="container">
        
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ path('perfil_user') }}">
                    El meu perfil
                </a>
            </li>
            <li>
                <a href="{{ path('gestio_solicituds') }}">
                    Les meves solicituds
                </a>
            </li>
            <li>
                <a href="{{ path('gestio_serveis') }}">
                    Els meus serveis
                </a>
            </li>
        </ul>
    </div>
</div>

=======
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{path('bonavall_bancdeltemps_inici')}}">Banc del temps</a>
  
        </div>
    </div>
>>>>>>> origin/master
{% endblock %}