{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Bancdeltemps</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Saldominim</th>
                <td>{{ entity.saldoMinim }}</td>
            </tr>
            <tr>
                <th>Tempsinactivitat</th>
                <td>{{ entity.tempsInactivitat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Admin_bancdeltemps') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Admin_bancdeltemps_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
