{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Bancdeltemps</h1>
<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Saldominim</th>
                <td>{{ entity.saldoMinim }}</td>
            </tr>
            <tr>
                <th>Tempsinactivitat</th>
                <td>{{ entity.tempsInactivitat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Admin_bancdeltemps') }}">
            Torna a la llista
        </a>
    </li>
    <li>
        <a href="{{ path('Admin_bancdeltemps_edit', { 'id': entity.id }) }}">
            Edita
        </a>
    </li>

</ul>
</div>
</div>
</div>        
{% endblock %}
