<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8”/>
        <title>{% block title %}Banc del Temps{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{asset('css/jumbotron.css')}}" rel="stylesheet">
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('css/bancdeltemps.css')}}" rel="stylesheet">
        
        {% endblock %}
        {#    <link rel=”shortcut icon” href=”{{ asset(‘favicon.ico’) }}” />#}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/skel.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div id="navbar-head" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="{{path('bonavall_bancdeltemps_inici')}}">Banc del temps</a>
                {% block login %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <form class="navbar-form navbar-right">
                      <div class="form-group">
                          Hola <a href="" id="user-span" data-container="body" title="Perfil" data-toggle="popover" data-placement="bottom" >{{ app.user.username }}</a>
                          <a id="disconnect-button" class="btn btn-danger" data-toggle="tooltip" title="Tornaras Aviat?" href="{{path('logout')}}" ><span class="glyphicon glyphicon-off"></span> Desconnecta't</a>
                      </div>
                    </form>
                {% else %} 
                    <form class="navbar-form navbar-right">
                      <div class="form-group">
                          <a id="login-button" class="btn btn-primary" data-toggle="tooltip" title="Benvingut!" href="{{path('login')}}" ><span class="glyphicon glyphicon-user"></span> Accedeix</a>
                      </div>
                      <div class="form-group">
                          <a id="register-button" class="btn btn-success" data-toggle="tooltip" title="Es gratis eh!" href="{{path('login')}}" ><span class="glyphicon glyphicon-pencil"></span> Registra't</a>
                      </div>
                    </form>
                {% endif %}
                {% endblock %}
            </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serveis<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Buscar</a></li>
                                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="divider"></li>
                                    <li><a href="#">Crear</a></li>
                                    <li><a href="#">Historial</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuaris<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Buscar</a></li>
                            </ul>
                        </li>
                        {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                           <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Informació Personal</a></li>
                                    <li><a href="#">Historial</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
        </div>

        {% endblock %}
        {% block body %}{% endblock %}
        <nav id="navbar-foot" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
          <div class="container">
            <p>&copy; Bonavall 2014</p>
          </div>
        </nav>
    </body>
</html>
