{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Llistat de Sol·licituds</h1>

<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
            <br />
            <table class="table table-condensed">
                <thead>
                <tr class="info">
                <th>Id</th>
                <th>Datasolicitut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_solicituts_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dataSolicitut %}{{ entity.dataSolicitut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul style="list-style:none;">
                    <li>
                        <a href="{{ path('user_solicituts_show', { 'id': entity.id }) }}">Veure</a>
                    </li>
                    <li>
                        <a href="{{ path('user_solicituts_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <ul style="list-style:none;">
        <li>
            <a href="{{ path('user_solicituts_new') }}">Crear nova entrada</a>
        </li>
    </ul>
            </div>
        </div>
    </div>
    {% endblock %}
