{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Provincia</h1>
<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ entity.provincia }}</td>
            </tr>
            <tr>
                <th>Provinciaseo</th>
                <td>{{ entity.provinciaseo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_provincia') }}">
            Trona a la llista
        </a>
    </li>
    <li>
        <a href="{{ path('admin_provincia_edit', { 'id': entity.id }) }}">
            Edita
        </a>
    </li>

</ul>
</div>
</div>
</div>        
{% endblock %}
