{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Serveis</h1>

<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Punts</th>
                <td>{{ entity.punts }}</td>
            </tr>
            <tr>
                <th>Nomservei</th>
                <td>{{ entity.nomServei }}</td>
            </tr>
            <tr>
                <th>Descripcioservei</th>
                <td>{{ entity.descripcioServei }}</td>
            </tr>
            <tr>
                <th>Datainici</th>
                <td>{{ entity.dataInici|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Durada</th>
                <td>{{ entity.durada }}</td>
            </tr>
            <tr>
                <th>Datafinal</th>
                <td>{{ entity.dataFinal|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_serveis') }}">
            Torna a la llista
        </a>
    </li>
    <li>
        <a href="{{ path('admin_serveis_edit', { 'id': entity.id }) }}">
            Edita
        </a>
    </li>

</ul>
</div>
</div>
</div>        
{% endblock %}
